<div class='jobs' data-category='wait'></div>
<div class='jobs' data-category='active'></div>
<div class='jobs' data-category='failed'></div>
<div class='jobs' data-category='complete'></div>
<script src="/js/jquery.noty.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script>startJobsInterface()</script>
