<!doctype html>
<html lang="en">
  <head>
    <%= include shared/head %>
    <script src="/js/admin.js"></script>
  </head>
  <body>
    <%= include shared/admin_header %>
    <%= include shared/main %>
    <%= include shared/footer %>
  </body>
</html>
