<!doctype html>
<html lang="en">
  <head>
    <%= include shared/head %>
    <script src="/js/admin.js"></script>
  </head>
  <body>
    <nav>
      <a href="/">Exit</a> |
      <a href="/admin">Dashboard</a> |
      <a href="/admin/jobs">Jobs</a> |
      <a href="/admin/accounts">Accounts</a>
    </nav>
    <%- body %>
  </body>
</html>
