<!doctype html>
<html lang="en">
  <head>
    <%= include shared/head %>
    <script src="/js/bundle.js"></script>
  </head>
  <body>
    <%= include shared/header %>
    <%= include shared/main %>
    <%= include shared/footer %>
  </body>
</html>
