<header>
<nav>
<%= include top_left_logo %>
<div class="align-right">
  <a href="/admin">Dashboard</a> |
  <a href="/admin/jobs">Jobs</a> |
  <a href="/admin/accounts">Accounts</a> |
  <a href="/">Exit</a> |
  <a href="/logout">Logout</a>
</div>
</nav>
</header>
