<nav class="pull-left">
<% if (user) { %>
  <a href="/"><img src="/img/pillbox-logo-loggedin.png" /></a>
  <% if (user.isAdmin) { %>
    <a href="/admin">Admin</a>
  <% } %>
<% } else { %>
  <a href="/"><img src="/img/pillbox-logo-loggedout.png" /></a>
<% } %>
</nav>
<div class="align-right">
  <% if (user) { %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  <% } %>
</div>
<div class="clearfix"></div>
