<header>
<nav>
<%= include top_left_logo %>
<div class="align-right">
  <% if (user) { %>
    <a href="/instances">My Instances</a> |
    <a href="/account">My Account</a> |
    <a href="mailto:support@upstreamapp.com?subject=Support Request">Get Support</a> |
    <% if (user && user.isAdmin) { %>
      <a href="/admin">Admin</a> |
    <% } %>
    <a href="/logout">Logout (<%= user.username %>)</a>
  <% } else { %>
    <%// <a href="/support">Support</a> | %>
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  <% } %>
</div>
</nav>
<div class="clearfix"></div>
</header>
