<header>
<nav>
<%= include top_left_logo %>
<div class="align-right">
  <% if (user) { %>
    <a href="/apps">Apps</a> |
    <a href="/account">Account</a> |
    <% if (user && user.isAdmin) { %>
      <a href="/admin">Admin</a> |
    <% } %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <%// <a href="/support">Support</a> | %>
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  <% } %>
</div>
</nav>
<div class="clearfix"></div>
</header>
