<div class="pull-left">
  <% if (user) { %>
    <a href="/"><img src="/img/pillbox-logo-loggedin.png" /></a>
  <% } else { %>
    <a href="/"><img src="/img/pillbox-logo-loggedout.png" /></a>
  <% } %>
</div>
