<a href="/logout">Logout</a>
<p>
  Welcome back, <%= user.username %>
</p>
<div id="account"></div>
<%= include shared/apps %>
<hr>
<script>startDashboard()</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
