<a href="/logout">Logout</a>
<p>
  Welcome back, <%= user.username %>
</p>
<div id="account"></div>
<h1>Apps</h1>
<ul>
  <% for(var i=0; i<slugs.length; i++) { %>
    <li data-slug="<%= slugs[i] %>"><%= products[slugs[i]].title %></li>
  <% } %>
</ul>
<hr>
<script>startDashboard()</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
