= "welcome back, "+user.username
%a{href: "/logout"} logout
%div{id: "content"}
%script{src: "js/react.min.js"}
%script{src: "js/zepto.min.js"}
:javascript
  startReactApp({ mountNode: $('#content').get(0) })
