<div class="jumbotron">
  <p>Frequently Asked Questions</p>
</div>

<h2>What are you selling, why, and at what price?</h2>
<p>
We provide dead-simple (one-click automatic deployment) hosting of a growing list of open source web applications.
</p>
<p>
We deal with the resource allocation, capacity planning, scaling, migrating, monitoring, maintenance, upgrades, backups, security patches, plugins and interoperability, and other operational considerations so that you can focus on what you're building with the tools rather than on the operation of the tools themselves. We even provide limited application-level support through involvement in the open source communities of each app. Additional consulting is available if required.
</p>
<p>
Pricing is the same across all apps and is based on the following table:
</p>
<p>
<%= include shared/price_matrix %>
</p>

<h2>I want to use software X, will you add it to the list?</h2>
<p>
We're always happy to consider new software; we just have to learn enough about them first. Please log a support request from your account dashboard and let us know what you need.
</p>
<p>
Open source software will be added free of charge for the benefit of all users.
</p>
<p>
Closed-source and proprietary software will be considered only with a valid license and will be added only to your account for a nominal fee.
</p>

<h2>What are the limitations?</h2>
<p>
Because the platform is young and experimental, there are some expected limitations you should be aware of until we have a chance to gain more operational experience about the platform. Considering that each application is unqiue in its own right, we anticipate much of this experiential growth will take place separately for each tool. Here are some issues and limitations you are likely to experience as you try the platform as an early adopter:
<ul>
  <li>
    <p>No direct shell access</p>
    <p>
    At this time we won't be offering direct shell access to the apps. This is because we feel that everything you need should be available through the application's interface and that anything less is a bug. Please report situations in which you feel that shell access is required so we can fix the bug and, if solved within an app, contribute usability patches upstream.
    </p>
  </li>
  <li>
    <p>Manual upgrades and migrations</p>
    <p>
    In the event of a container expanding beyond the limits of its virtual or physical server, a human may need to become involved and/or supervise its migration to a new underlying host. Until this has been done hundreds of times, migrations will be slow. These events will be coordinated with you by email. We will provide ample warning as resource limits are approached.
    </p>
  </li>
  <li>
    <p>New instance wait times</p>
    <p>
    Normally, an app will start in just a few seconds because a virtual machine is ready and waiting to serve you. However, there may be periods of increased demand in which we are unable to add additional virtual machines to the resource pool as fast as they are being consumed. We are working to decrease or eliminate wait times.
    </p>
  </li>
  <li>
    <p>Instances are not redundant</p>
    <p>
    Applications run on a single, non-clustered, non-load-balanced instance. Although the platform runs on stable, industry standard cloud providers, we hope to add redundancy options in the future.
    </p>
  </li>
  <li>
    <p>Small app selection</p>
    <p>
    Each application is unique. They each run different databases, caches, runtimes; they each have different configuration options. There is a laundry list of considerations. As such, we need to be prepared for the nuances of each application prior to adding it to the platform. Hence, apps will only join the platform after we've had the chance to learn enough about them to confidently host them. As a result, we can only offer a small selection of apps: those which we've had the chance to learn about.
    </p>
  </li>
</ul>
</p>

<h2>Who are you and why did you build this?</h2>
<p>
We are Fatehi Technology Company, LLC, a company formed in September 2014 by Keyvan Fatehi. We built this because we think that organizations should not have to spend as much time keeping their auxiliary open source apps and tools running as they currently do. We take care of everything around the tools so that customers can focus on using them in order to get work done.
</p>
<p>
Prior to forming his namesake technology company, Keyvan worked for a company in Los Angeles known as DigitalFilm Tree. During this time he and a fellow developer, Jeanre Swanepoel, were faced with the challenge of maintaining a myriad of open source tools they happened to use on a daily basis.
</p>
<p>
It became clear that maintaining the tools was taking a huge chunk of time away from feature-building and so Keyvan and Jeanre set out to reduce this overhead.
</p>
<p>
Their <a target="blank" href="https://github.com/hyperdock-io/hyperdock-rails">first attempt</a> did not pan out, but some months later, Keyvan wrote a small module called <a href="https://github.com/keyvanfatehi/ydm">ydm</a> while vacationing in Wisconsin -- this module turned out to be very promising. Around the same time, the community around <a target="blank" href="https://docker.io">Docker</a> was beginning to mature and cloud APIs were (and still are) improving. The vision of creating a hosting platform just for our favorite open source apps and tools had become quite feasible and has been realized as this application before you.
</p>
