<h1>Frequently Asked Questions</h1>

<h2>What service do you provide?</h2>
<p>
We provide dead-simple simple 1-click hosting of open source web applications.
</p>

<h2>I want you to host software X for me, will you add it?</h2>
<p>
We're always looking to add tools; please let us know what you would like to see via the Contact link found in your Dashboard.

We do not host closed-source or proprietary software. As a rule of thumb, if the license is ISC, MIT, BSD, GPL, Apache or similar, we can host it.
</p>

<h2>It seems expensive. Why is it so expensive?</h2>
<p>
We deal with resource allocation, capacity planning, auto-scaling, usage monitoring, maintenance, upgrades, backups, vulnerability alerts so that you can focus on what you're building with the help of the tools rather than on the tools themselves.
</p>

<h2>Who are you and why did you build this?</h2>
<p>
We are Fatehi Technology Company, LLC, a company formed in September 2014.
<p>
</p>
During the years prior to forming FTC, Keyvan worked full time for a company in Los Angeles known as DigitalFilm Tree. During this time he found a partner in tech, Jeanre Swanepoel, with whom he'd eventually develop the vision for this website.
<p>
</p>
At DigitalFilm Tree, Keyvan and Jeanre were faced with the challenge of maintaining the myriad of open source tools they used on a daily basis while at the same time delivering features for the proprietary app.
<p>
</p>
Keyvan and Jeanre worked on various ideas around reducing the overhead of our tools to lower time that had to be spent on them by Keyvan. We thought that if we could only find a way to spend less time on our tools we could free up so much time for working on features.
<p>
</p>
Our <a href="https://github.com/hyperdock-io/hyperdock-rails">first attempt</a> did not pan out, but some months later, a <a href="https://github.com/keyvanfatehi/ydm">second attempt</a> seemed promising. The community around Docker began to further expand and cloud APIs provided a way to truly automate the tooling. Keyvan decided to leave DigitalFilm Tree and pursue this goal full-time.
<p>
</p>
Keyvan now plays the same role for DigitalFilm Tree as before: the guy maintaining all the tooling. The only difference is that your organization can also benefit.
</p>

<h2>What are the limitations?</h2>
<p>
test
</p>
