<div class="container login-form">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3">
      <h1 class="text-center login-title">Password recovery</h1>
      <div class="account-wall">
        <% if (sent_to) { %>
          <p class="pb-success">An email has been sent to <%= sent_to %></p>
        <% } %>
        <form action="/forgot_password" method="post" class="form-signin">
          <input type="email" class="form-control" name="email" placeholder="Email Address" required autofocus>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Submit</button>
          <!-- <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me">
            Remember me
          </label>
          <a href="/help" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
        </form>
      </div>
      <a href="/forgot_password" class="text-center new-account">Forgot Password</a>
      <a href="/register" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>
