<div class="jumbotron">
  <p>Dead-simple, zero maintenance cloud hosting for your favorite apps and tools.</p>
</div>


<h1>Pricing</h1>
<%= include shared/price_matrix %>

<hr>

<h1>App List</h1>
<%= include shared/apps %>

<p>
Missing a crucial app? <a href="<%= supportEmail %>">Request it</a>
</p>
<p>
Thanks for checking us out!
</p>
