<div class="jumbotron">
  <p>Dead-simple, zero maintenance cloud hosting for your favorite apps and tools.</p>
</div>

<h1>Apps</h1>
<%= include shared/apps %>

<p>
Missing a crucial app? <a href="<%= supportEmail %>">Request it</a>
</p>

<h1>Pricing</h1>
<%= include shared/price_matrix %>

<p>
Thanks for checking us out!
</p>
