<div class="jumbotron">
  <p>We deploy and distribute software "as a service" without forking or closing the source.</p>
  <p>Are you trying to move apps to the cloud? Stop doing everything yourself and let us help. We can't support every project, but we are <a href="/vote">taking requests</a>.
  <p><b>Don't be a "full-stack developer," it's not healthy!<b></p>
  <p>Perhaps you in search of the fabled language-agnostic "SaaS kit"? Your search is over, we'll help you <a href="/monetize">monetize your work</a>.</p>
  <p><b>New accounts come with <%//= '$'+dollar(trial.freeMoney) %> free trial credit. No credit card required.</b></p>
</div>

<h1 id="features">Features</h1>
<ul>
  <li>Automated full application deployment.</li>
  <li>Simple interface for application control and configuration.</li>
  <li>No arbitrary usage limits. Use as much as your server can handle. We equip you with monitoring tools.</li>
  <li>System-level security patching. We'll deal with the threats for you as they surface.</li>
  <li>
  Deploy in 
  <% var i = 0, last = false %>
  <% for (var key in regions) { %>
    <% ++i %> <% last = Object.keys(regions).length === i %>
    <%= (last ? 'and ' : '')+regions[key]+(last ? '' : ',') %>
  <% } %>
  </li>
  <li>99.9% up-time SLA. Any downtime is automatically refunded.</li>
</ul>

<% if (false) { %>

<h1>Roadmap</h1>
<ul>
  <li>Unlimited email support.</li>
  <li>Support system with appropriate code hosting integrations for easy conversion into documentation and source code patches..</li>
  <li>Interface for safely applying software updates, with the ability to rollback at anytime.</li>
  <li>Take snapshots anytime, rollback to any snapshot anytime.</li>
  <li>Hibernation mode. Won't be using the app for awhile but want us to keep your data? We'll put it in the freezer for you.</li>
</ul>

<% } %>

<h1 id="apps">Apps</h1>
<%= include shared/apps %>
