<div class="jumbotron">
  <p>Hi! Pillbox is a hosting platform for open source apps.</p>
  <p>We handle server and app maintenance complexities for you.</p>
  <p>We provide support for apps so they can be continually improved for all.</p>
  <p>Are you looking for hosting for X app? Hopefully we support it already! If not, please <a href="/apps/vote">vote for it</a>.</p>
  <p>Are you a developer? Turn your app into a SaaS unobtrusively with our platform and <a href="https://github.com/keyvanfatehi/ydm">technology</a>.</p>
  <p><b>New accounts include 3 days of free uptime without a credit card!</b></p>
</div>

<h1 id="features">Features</h1>
<ul>
  <li>Automatic full application deployment in under 5 minutes.</li>
  <li>
  Deploy in 
  <% var i = 0, last = false %>
    <% for (var key in regions) { %>
      <% ++i %> <% last = Object.keys(regions).length === i %>
      <%= (last ? 'and ' : '')+regions[key]+(last ? '' : ',') %>
    <% } %>
  </li>
  <li>Simple interface for application control and configuration.</li>
  <li>No arbitrary usage limits. Use as much as your server can take.</li>
  <% if (null) { %>
    <li>We literally provide an "easy button" for software updates and security patches</li>
    <li>99.9% up-time SLA. Any downtime is automatically refunded.</li>
    <li>Take snapshots and rollback at any time, instantly. Snapshots can also be downloaded.</li>
    <li>Dedicated support staff</li>
  <% } %>
</ul>

<h1 id="apps">Apps</h1>
<%= include shared/apps %>
