<div class="jumbotron">
  <p>Pillbox is a hosted software platform offering <a href="#apps">apps</a> you depend on for work.</p>
  <p>We take care of <a href="#features">everything</a> so your team can be more productive and focus on the real work.</p>
  <p>New accounts include a 7 day free trial; no credit card required.<p>
</div>

<h1 id="features">Features</h1>
<ul>
  <li>Automatic full application deployment in under 5 minutes.</li>
  <li>
  Deploy in 
  <% var i = 0, last = false %>
    <% for (var key in regions) { %>
      <% ++i %> <% last = Object.keys(regions).length === i %>
      <%= (last ? 'and ' : '')+regions[key]+(last ? '' : ',') %>
    <% } %>
  </li>
  <li>Simple interface for application control and configuration.</li>
  <li>No arbitrary usage limits. Use as much as your server can take.</li>
  <% if (null) { %>
    <li>We literally provide an "easy button" for software updates and security patches</li>
    <li>99.9% up-time SLA. Any downtime is automatically refunded.</li>
    <li>Take snapshots and rollback at any time, instantly. Snapshots can also be downloaded.</li>
    <li>Dedicated support staff</li>
  <% } %>
</ul>

<h1 id="pricing">Pricing</h1>
<%= include shared/price_matrix %>

<h1 id="apps">Apps</h1>
<%= include shared/apps %>
