<form action="/register" method="post">
  <%= include shared/form_errors %>
  <label for="username">Username</label>
  <input type="text" name="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <label for="password_confirmation">Password Confirmation</label>
  <input type="password" name="password_confirmation">
  <br>
  <input type="submit">
</form>
