<div class="container login-form">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3">
      <h1 class="text-center login-title">Create an account on Pillbox</h1>
      <div class="account-wall">
        <img class="profile-img" src="/img/pillbox-logo-alpha-square.png"
        alt="">
        <%= include shared/form_errors %>
        <form action="/register" method="post" class="form-signin">
          <div>
            <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
          </div>
          <div>
            <input type="password" class="form-control attached" placeholder="Password" name="password" required>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password Confirmation" name="password_confirmation" required>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign up</button>
        </form>
      </div>
      <a href="/login" class="text-center new-account">Already have an account?</a>
    </div>
  </div>
</div>
<script>
  startRegistrationForm({
    username: '.login-form input[name=username]',
    password: '.login-form input[name=password]',
    confirmation: '.login-form input[name=password_confirmation]',
    submit: '.login-form [type=submit]'
  })
</script>
