.apps {
  list-style-type: none;
  padding: 0;

  .app {
    .clearfix;
    .title {
      display:block;
      font-size: 1.6em;
      font-weight: bold;
    }

    .description {
      display:block;
    }

    img.logo {
      max-width: 100px;
      width:15%;
      padding: 0.5em;
    }

    padding: 1em;
    border-top: 1px solid #aaa;
    &:first-child {
      border-top: 0;
    }
  }
}
