#account {
}

.apps {
  list-style-type: none;
  padding: 1em;

  .app {
    .title {
      display:block;
      font-size: 1.6em;
      font-weight: bold;
    }

    .description {
      display:block;
    }

    height: 100px;
    img.logo {
      float:left;
      height: 100px;
      padding: 0.5em;
    }

    padding: 1em;
    border-top: 1px solid #aaa;
    &:first-child {
      border-top: 0;
    }
  }
}

.clearfix {
  clear: both;
}
