@import "variables.less";
@import "mixins.less";
@import "account.less";
@import "apps.less";
@import "server_select_modal.less";
@import "app_select_modal.less";
@import "bootstrap.less";
@import "login-form.less";


body {
  margin: 1em;
}

header {
  .align-right {
    padding-top: 1.3em;
    font-size: 1.2em;
  }
}

main {
  margin-top: 1em;
  .jumbotron {
    border-radius: 10px;
  }
}

footer {
  margin-top: 10em;
  clear: both;
  text-align: center;
  font-size: 0.6em;
  color: #ccc;
}

.clearfix {
  clear: both;
}

.errorModal {
  pre {
    font-size: 0.8em;
  }
}

.pull-left { float: left }

.align-right { text-align: right }
