/*----------------------------------------------------------------------*/
/* ---------------------------- Blue Ocean Skin  --------------------- */
/*--------------------------------------------------------------------*/

/* Phone Number Color */
p strong { color:#00a7d7; }

/* Logo Shape Color */
.logo hgroup { 
    background:url(../../img/logo.png) no-repeat;
  padding-left:54px; 
  }

/* Main Product Gradient and Colors */

h2 span { font-family: 'Doppio One', sans-serif; color:#0a90c7;}
#main_product {
    margin:0 0 50px;
  padding:33px 0 20px;
  clear:both;
  background: -moz-linear-gradient(top, #05b5fe 1%, #0a8fc6 100%); /* Mozilla */ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#05b5fe), color-stop(100%,#0a8fc6)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Chrome10 and Safari5 */
    background: -o-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* IE10 */
    background: linear-gradient(to bottom, #05b5fe 1%,#0a8fc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b5fe', endColorstr='#0a8fc6',GradientType=0 ); /* IE6-8 */
  }
.main_p1 h1 { 
    color:#efefef;
  text-shadow:0 0.5px 0 #07709b;
  }
.main_p1 h2 span { 
    font-family:'Signika', sans-serif; 
    color:#025678;
  background: url(../../img/span-bg.png) repeat;
  padding:2px 5px;
  font-size:15px;
  }
ul.features-1 li { 
    padding:0 0 0 30px;
  margin:20px 0 0 4px;
  background:url(../../img/icon-features.png) no-repeat left;
  color:#d0ecf7;
  text-shadow:0 1px 0 #166ac1;
  }
  
ul.features-2 li { 
    font-size:14px;
    padding:0 0 0 30px;
  margin:20px 0 0 4px;
  background:url(../../img/skins/shape-blue.png) no-repeat left;
  color:#8C8C8C;
  
  }

/* Buttons Colors */
a.small-trial-button { 
     
  height:47px;
  width:125px;
  background:url(../../img/small-trial-button.png) no-repeat;
  display:block;
  }

/* Pricing Tables Colors */
.prc-header2 { 
    background:url(../../img/prc-header2.png) no-repeat;
  height:132px;
  color:#efefef;
  }
.prc-footer2 { 
    background-color:#089cd9;
  height:40px;
  padding:10px 0;
  }
  @media(min-width: 480px) and (max-width: 767px) { 
.prc-header2 { 
    background:none;
  background-color:#089CD9;
  }
  }

/* NewsLetter Colors */
.news2 { 
    background: -moz-linear-gradient(top, #05b5fe 1%, #0a8fc6 100%); /* Mozilla */ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#05b5fe), color-stop(100%,#0a8fc6)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Chrome10 and Safari5 */
    background: -o-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* IE10 */
    background: linear-gradient(to bottom, #05b5fe 1%,#0a8fc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b5fe', endColorstr='#0a8fc6',GradientType=0 ); /* IE6-8 */
  float:right;
  height:70px;
  }
.news1 h3 span {color:#0a8fc6; }

.buy-footer { 
    background: -moz-linear-gradient(top, #05b5fe 1%, #0a8fc6 100%); /* Mozilla */ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#05b5fe), color-stop(100%,#0a8fc6)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Chrome10 and Safari5 */
    background: -o-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #05b5fe 1%,#0a8fc6 100%); /* IE10 */
    background: linear-gradient(to bottom, #05b5fe 1%,#0a8fc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b5fe', endColorstr='#0a8fc6',GradientType=0 ); /* IE6-8 */
  } 

