/*--------------------------------------------------------------------------------*/
/* -------------------------------    Skin Styles Section    -------------------- */
/*--------------------------------------------------------------------------------*/

@import url("skins/blue.css");



/*------------------------ Table of Contents ---------------------------*//*



1. Reset All and General Styles
2. Fonts Family
3. Header Styles
4. Main Product Styles
5. Features Section
6. Screenshots
7. How it work
8. Testimonials
9. Pricing Tables
10. NewsLetter Section
11. Buy Footer  Section
12. Footer Section
13 . IMPORTANT!. Responsive Styles
14. Lightbox. Image Gallery Styles
15 . Contact Form 
16. About Styles


*//*------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------*/
/* ------------------------------- 1. Reset All and General Styles -------------- */
/*--------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family:'Signika', sans-serif;
  background-color:#efefef;
  
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus { outline:0; }

/* #### General Styles #### IMPORTANT! */

.wrapper { padding:0 10px; max-width:940px;  }
.responsive h1 { font-size:34px; text-align:center; margin:35px 0 0;}
.responsive h2 { font-size:19px; text-align:center; margin:18px 0 24px;}
.divider { width:460px; height:11px; background:url(../img/divider.png) no-repeat; display:block; margin:40px auto; }
.divider2 { width:100%; height:8px; background:url(../img/divider2.png) repeat-x; display:block; margin:15px auto; }
.clear { clear:both;}


/*--------------------------------------------------------------------------------*/
/* ------------------------------- 2. Fonts Family ------------------------------ */
/*--------------------------------------------------------------------------------*/

h1 { font-family:'Signika', sans-serif; font-size:34px;}
h2, p, a { font-family: 'Orienta', sans-serif;}
p { font-size:12px;}

/*--------------------------------------------------------------------------------*/
/* ------------------------------ 3. Header Styles ------------------------------ */
/*--------------------------------------------------------------------------------*/

header { background-color:#efefef;  height:63px; padding-top:17px;}
.logo { float:left; width:220px;}
.logo h1 { font-size: 34px; color:#191919; line-height:28px;}
.logo h2 { font-size: 11px; color:#1c1c1c; line-height:18px;}
.phone { float:right;  padding-top:3px; }
ul.social { float:right; width:74px; padding-top:8px;}
ul.social li { width:20px; float:left; height:20px; margin-left:4px;}
#facebook   { background:url(../img/social.png) no-repeat; }
#twitter   { background:url(../img/social.png) no-repeat; background-position:-20px 0 ;}
#youtube   { background:url(../img/social.png) no-repeat; background-position:-40px 0 ;}
#facebook:hover   { background-position:0 100%; }
#twitter:hover   { background-position:-20px 100% ;}
#youtube:hover   { background-position:-40px 100% ;}


/*--------------------------------------------------------------------------------*/
/* ------------------------------ 4. Main Product Styles ------------------------ */
/*--------------------------------------------------------------------------------*/

#main_product {  margin:0 0 30px; padding:33px 0 20px; height:305px;  clear:both; }
.main_p1 { float:left; width:545px; padding:10px 0 0 0; }
.main_p1 h2 {  line-height:34px; font-size:14px; color:#efefef; margin:5px 0px; font-weight:500; }
.main_p2 { float:right; width:376px; }
ul.features-1 { padding:10px 0 10px; }

/* ------------------------------  Buy it NOW ! + Try it NOW - BUTTONS  ------------------------------ */
.buttons {float:left; padding:30px 0 30px;  }
a.small-buy-button  { float:left; height:47px; width:179px; background:url(../img/small-buy-button.png) no-repeat; display:block;}
a.small-buy-button:hover { background-position:0 100%;}
.divider-button { 
    display:block;
  float:left;
  background:url(../img/small-button-divider.png) no-repeat;
  height:23px;
  width:24px;
  margin:12px 15px;
}
a.small-trial-button:hover { background-position:0 100%;}
a.small-trial-button { float:left;}
a.large-buy-button  { float:left; height:46px; width:274px; background:url(../img/large-buy-button.png) no-repeat; display:block;}
a.large-buy-button:hover { background-position:0 100%;}
.buy-bottom { margin:0px auto; width:400px; padding:10px 0; height:50px;}


/*--------------------------------------------------------------------------------*/
/* ------------------------------ 5. Features Section --------------------------- */
/*--------------------------------------------------------------------------------*/

.features { margin:0 0 40px;}
.features img { float:left; margin-right:18px;}
.features h3 {margin:0 0 5px; color:#606060;}
.features p { text-align:left; line-height:16px; color:#8C8C8C;} 
.features-list{margin-top:10px;}

.fl1, .fl  { 
    border: 1px solid #cecece;
  float:left;
    height: 60px;
    padding: 15px 10px;
    width: 270px;
  }
div.fl1 { margin-right:0px; background-color: #eaeaea;}
div.fl { margin-right:30px; background-color: #eaeaea;}
.current { background-color:#dbdbdb !important;  border: 1px solid #c5c5c5 !important; }
.tabs { position: relative;}

.tabs .moving_bg2 {
  padding: 5px 15px 30px ;
  background-image:url(../img/fl-tabs.png);
  position: relative;
  width: 270px;
  height:11px;
  z-index: 190;
  top: 0;
  background-position:center;
  padding-bottom: 0px;
  background-repeat: no-repeat;
}

.tabs .tab_item {
  display: block;  
  z-index: 200;
  position: relative;
  cursor: pointer;
}

.tabbed_content .slide_content {
border: 1px solid #c5c5c5;
  overflow: hidden;
  background-color: #dbdbdb;
  padding: 20px 0 0px 20px;
  margin:15px 0 0;
  position: relative;
  width: 920px;
}

.tabslider {
  width: 5000px;
}

.tabslider ul {
  float: left;
  width: 920px;
  margin: 0px;
  padding: 0px;  
}
.tabslider ul li {padding-bottom: 7px;}
.banner {width:50%; float:left;}
.banner-content { width:50%; float:left;}
.banner-content h1 { font-size:28px; padding:5px 0; margin:0; text-align:left;  color:#606060; }
.banner-content h2 { font-size:14px; text-align:left; margin:0; padding:5px 0 20px; }
ul.features-2 li { height:20px; }
/*--------------------------------------------------------------------------------*/
/* ------------------------------ 6. Screenshots -------------------------------- */
/*--------------------------------------------------------------------------------*/

.screenshots ul {margin:40px 0 40px;  min-height:150px;}
.screenshots li { position:relative;}
.screenshots img { max-width: 100%; }
img.a {
  position: absolute;
  left: 0;
  top: 0;
    z-index: 10;
  border:2px solid #cacaca;
  cursor:pointer;
  }
  
img.b {
  position: absolute;
  left: 0;
  top: 0;
  border:2px solid #dadada;
  }
  
/*--------------------------------------------------------------------------------*/
/* ----------------------------- 7. How it work  -------------------------------- */
/*--------------------------------------------------------------------------------*/
  
.hiw { height:260px; margin:40px 0 40px;}
.hiw1 { float:left; width:402px; padding:10px 40px 0; background-color:#e9e9e9; height:242px; border:1px solid #cdcdcd; }
.hiw2 {float:right; width:456px; } 
.hiw h1 { font-size:34px; color:#606060; margin:18px 0 0;}
.hiw h2 { font-size:14px; color:#606060; margin:15px 0 0;}
.hiw p { font-size:12px; line-height:26px; color:#8c8c8c; margin:5px 0 0;  padding:10px 0px 0px; text-align:center;}


/*--------------------------------------------------------------------------------*/
/* ----------------------------- 8. Testimonials  -------------------------------- */
/*--------------------------------------------------------------------------------*/
.testimonials { margin:40px 0 40px;}  
.testimonials img {  float:left;margin-right:14px;}
.testimonials p {   color:#606060; line-height:22px; }
.testimonials strong {  float:right; font-size:13px; margin-right:8px; margin-top:8px;  color:#606060;}
.ts { width:269px; background-color:#e9e9e9; height:100px; padding:15px 10px;border:solid 1px #cdcdcd; }


/*--------------------------------------------------------------------------------*/
/* ----------------------------- 9. Pricing Tables  -------------------------------- */
/*--------------------------------------------------------------------------------*/

.pricing { padding:30px 0 10px; }
.prc { background-color:#dbdbdd; border:solid 1px #cdcdcd;  }
.prc-header h1 { font-size:34px;  margin:0; padding:8px 0 4px;color:#606060;  }
.prc-header2 h1 {  color:#efefef; margin:0; padding:8px 0 4px;  }
.prc p { text-align:center;  padding:0 0 4px; }
.prc small { display:block;  width:60px; margin:0 auto; border-bottom:solid 1px #bebebe; padding:1px 0 8px; }
.prc-header2 small { display:block;  width:60px; margin:0 auto; border-bottom:solid 1px #efefef; padding:1px 0 8px; }
.prc-header { background:url(../img/prc-header.png) no-repeat; height:132px; color:#606060 }
.prc-header h3 { font-size:35px; font-family: 'Orienta', sans-serif; color:#606060; text-align:center;  }
.prc-header h3 strong { font-size:15px;}
.prc-header2 h3 { font-size:35px; font-family: 'Orienta', sans-serif; color:#efefef; text-align:center;  }
.prc-header2 h3 strong { font-size:15px;}
.prc-body { padding:20px 0; }
.prc-body p { padding:12px 0 6px; }
.prc-footer {   height:40px; padding:10px 0; }
.signup-button { font-family:'Signika', sans-serif; color:#757575; text-align:center; }
a.signup-button  { margin:0 auto; padding:12px 0; height:19px; width:130px; background:url(../img/signup-button.png) no-repeat; display:block;  }
a.signup-button:hover { background-position:0 100%; text-decoration:none; color:#919191;  }

/*--------------------------------------------------------------------------------*/
/* ---------------------------- 10. NewsLetter Section  ------------------------------ */
/*--------------------------------------------------------------------------------*/
.newsletter { height:70px;}
.news1 { background-color:#dbdbdd; width:48%; float:left; height:70px;}
.news1 img {padding:18px 20px; float:left;}
.news1 h3 {padding:25px 0px; float:left; font-size:21px; color:#606060;}
.news2 img { float:left;}
.news2 form { padding:14px 40px;  float:left;}
.news2  input { float:left; }
.news2 { width:52%;}
input.subem { height:26px; margin:3px 10px 0; }
input.subsc  { color:#757575; font-size:16px; font-family:'Signika', sans-serif;border:none; margin:0 auto; height:43px; width:130px; background:url(../img/signup-button.png) no-repeat; display:block;  }
input.subsc:hover { background-position:0 100%;}

/*--------------------------------------------------------------------------------*/
/* ---------------------------- 11. Buy Footer  Section  ------------------------- */
/*--------------------------------------------------------------------------------*/
.buy-footer { padding:25px 0; height:50px;  margin:10px 0 0;} 
.buy-footer h1 { background:url(../img/footer-buy.png)no-repeat; float:left; line-height:26px; height:28px;  font-size:22px; color:#efefef; padding:0px 0px 0 36px; margin:10px 0; }
.buy-footer h1 span { float:left;  font-size:20px; font-family: 'Doppio One', sans-serif; }
.buy-footer a { float:right;}

/*--------------------------------------------------------------------------------*/
/* ---------------------------- 12. Footer Section  ------------------------------ */
/*--------------------------------------------------------------------------------*/

footer { height:126px; background-color:#DBDBDB;}
.foo { width:100%;  height:48px;}
ul.social2 { width:78px; padding-top:20px; margin:0 auto; }
ul.social2 li { width:20px; float:right; height:20px; margin-left:6px; }
#facebook2   { background:url(../img/social2.png) no-repeat; }
#twitter2   { background:url(../img/social2.png) no-repeat; background-position:-20px 0 ;}
#youtube2   { background:url(../img/social2.png) no-repeat; background-position:-40px 0 ; }
#facebook2:hover   { background-position:0 100%; }
#twitter2:hover   { background-position:-20px 100% ;}
#youtube2:hover   { background-position:-40px 100% ; }
.navi { width:160px;  margin:0 auto; padding:10px 0; }
.navi li { float:left; margin-left:14px;}
.navi li a { color:#777777; font-size:13px; }
.navi li a:hover { color:#555555; text-decoration:none;}
.copy p { text-align:center; color:#777777; }

/*--------------------------------------------------------------------------------*/
/* ---------------------  13 . IMPORTANT!. Responsive Styles -------------------- */
/*--------------------------------------------------------------------------------*/

 
 @media(min-width: 768px) and (max-width: 979px) {
#main_product { height:380px; }
.wrapper {padding:0 10px; max-width:735px;}
.main_p1 { width:340px; }
.main_p1 h1 { line-height:49px; font-size:38px; }
.features img {  padding-bottom:60px; }
.fl { height:80px; }
.screenshots ul { margin-bottom:10px; min-height:120px; }
.hiw2 { float:none; margin:0 auto; height:120px; }
.ts { height:150px; }
.news1 h3 { font-size:18px; }
.news1 img {padding: 18px 10px;}
.news2 form {padding: 14px 10px;}
input.subem {width:160px;}
#buttons { display:none; }
ul.features-1  { padding:0 12px 0 0; }
.fl1, .fl  { 
    border: 1px solid #cecece;
  float:left;
    height: 100px;
    padding: 15px 10px;
    width: 198px;}
.tabbed_content .slide_content {
    border: 1px solid #c5c5c5;
    border: 1px solid #c5c5c5;
  overflow: hidden;
  background-color: #dbdbdb;
  padding: 20px 0 0px 20px;
  margin:15px 0 0;
  position: relative;
  width: 700px;
}
.tabslider ul { width: 700px;}
.tabs .moving_bg2 { width: 198px;}
.banner img {width:95%; height:95%;}
.banner { width:40%; }
 .buy-footer a { float:none;  margin:0 auto;}
 }

@media(min-width: 480px) and (max-width: 767px) { 
.wrapper {padding:0 10px; max-width:460px;}
.main_p1 h1 { line-height:34px; font-size:30px; text-align:center; }
.main_p1 h2 { text-align:center; }
.main_p1 { width:450px; }
.main_p2 { float:none; margin:0 auto; }
#main_product { height:460px; }
.buttons { margin:0 40px; padding: 10px 0 20px; }
.responsive h2 { font-size:16px; }
.responsive h1 { line-height:38px; font-size:30px; }
.screenshots img { width:260px; height:150px; }
.screenshots li {   height:150px; margin:30px 0; width:264px;  }
.screenshots ul {  margin:0 auto; width:264px;   }
.hiw2 { float:none; margin:0 auto; }
.ts { margin:20px 0; }
.prc { margin-top:20px; }
.prc-header { background:none; background-color:#e8e8e8; }
.news1 {width:15%;}
.news2 {width:85%;}
.news1 img { padding: 18px 8px; }
.news1 h3 { display:none; }
input.subem {width:160px;}
.news2 form {padding: 14px 5px;}
input.subsc {     border: medium none;
    color: #757575;
    display: block;
     font-family: 'Signika',sans-serif;
    font-size: 12px;
    height: 43px;
    margin: 0px auto;
    width: 130px;
}
.fl1, .fl  {  
    height: 50px;
    padding: 15px 10px;
  margin:10px 0;
    width: 440px;
  } 
.tabslider ul { width: 440px;}
.tabbed_content .slide_content {width: 440px;}
.features-1  { display:none; }
.banner { display:none; }
.banner-content { width:440px; }
.buy-footer a { float:none;  margin:0 auto;}
}


@media(max-width:480px) {
.wrapper {padding:0 10px; max-width:300px;}
.main_p1 h1 { line-height:36px;font-size:32px; color:#efefef; text-align:center;    }
.main_p1 h2 { text-align:center;  line-height:30px; font-size:13px; color:#efefef; margin:5px 0px; font-weight:500; }
.main_p2 { display:none; }
.main_p1 { width:290px; }
#main_product {   height: 350px; padding: 12px 0 5px; margin:0 0 0;}
.buttons { float:none; }
a.small-buy-button { margin:0 auto; float:none; }
a.small-trial-button { margin:0 auto; float:none; }
.divider-button {  clear:both; float:none; margin:15px auto;  }
.screenshots img { width:260px; height:150px; }
.screenshots ul {  margin:0 auto; width:264px;   }
.screenshots li {   height:150px; margin:30px 0; width:264px;  }
.hiw2 { width:290px; }
.hiw { height:150px;}
.how-it-works iframe {  width:98%; height:90%;}
.ts { margin:20px 0; }
.prc { margin-top:20px; }
.news1 {display:none;}
.news2 {width:100%;}
.news1 img { padding: 18px 8px; }
.news1 h3 { display:none; }
input.subem {width:160px;}
.news2 form {padding: 14px 5px;}
input.subsc {     border: medium none;
    color: #757575;
  background-position:50% 0;
    display: block;
     font-family: 'Signika',sans-serif;
    font-size: 12px;
    height: 43px;
    margin: 0px auto;
    width: 60px;
}
.copy p { font-size:10px;}
.features-1  { display:none; }
.banner { display:none; }
.banner-content { display:none; }
.tabslider ul { display:none;}
.tabbed_content .slide_content {display:none;}
.divider { width:300px; height:11px; background:url(../img/divider.png) center no-repeat; display:block; margin:40px auto; }
.tabs .moving_bg2 { display:none;}
.fl1, .fl  {  margin:10px 0;}
.buy-footer a { float:none;  margin:0 auto;}
 }

/*--------------------------------------------------------------------------------*/
/* --------------------- 14. LightBox. Image Gallery Styles ---------------------- */
/*--------------------------------------------------------------------------------*/

/*  LightBox Styles */

/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:img/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}

/*--------------------------------------------------------------------------------*/
/* --------------------- 15 . Contact Form -------------------------------------- */
/*--------------------------------------------------------------------------------*/
#popi-bg {height: 880px; opacity: 0.7; display:none;}
.wrap h1 { background:url(../img/contact-icon.png) no-repeat;  color: #898989;
    font-size: 26px;
    height: 20px;
    margin: 5px 0 0 42px;
    padding: 3px 40px;
    text-align: left; }

.form-contact{ margin:0 auto;  }
.wrap {
   z-index:800;
  margin: auto;
  padding-bottom:20px;
   
}

form {
  padding: 0;
  margin: 0 0 20px;
}
table {
  margin: 0 auto;
}
tr, td, input, textarea {
  margin: 0;
  padding: 0;
}
td {
  padding: 0 0 5px;
}
tr td:first-child {
  padding-right: 18px;
  padding-top: 11px;
  text-align: right;
  vertical-align: top;
  color:#afafaf;
}
.error[generated=true] {
  color: #dc0000;
  font-size: 16px;
  padding: 5px 0 2px 5px;
}
tr.error td {
  padding: 0;
}
.wrap input, textarea {
  background: #FFF;
   
  font: inherit;
  font-size: 16px;
  line-height: 29px;
  min-height: 30px;
  padding: 5px 10px;
  width: 200px;
}
input:focus, textarea:focus {
  border-color: #b0c3d0;
  outline: none;
}
textarea {
  height: 240px;
  resize: vertical;
}
.wrap input[type=submit]  { float:right; color:#757575; font-size:16px; font-family:'Signika', sans-serif;border:none; margin:20px auto; height:43px; width:130px; background:url(../img/signup-button.png) no-repeat; display:block;  }
.wrap input[type=submit]:hover { background-position:0 100%;  }

.wrap p { font-size: 14px; color:#191919; font-family:'Signika', sans-serif; margin:8px 0 0; }
  
#popi-bg {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #CECECE;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 700;
  opacity: 0.7;
}
#overlay_form{
border-radius: 6px 6px 6px 6px;
position: absolute;
border: 1px solid gray;
padding: 10px;
background: white;
width: 320px;
height: 520px;
}
#popi,
#popi2 {
display: block;
width: 20px;
height:20px;

}
#close{   background: url("../img/close-contact.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 30px;
    margin: -35px -35px 0 0;
    width: 30px; }

/*--------------------------------------------------------------------------------*/
/* --------------------- 16. About Styles --------------------------------------- */
/*--------------------------------------------------------------------------------*/

.about p { line-height:20px; margin-top:30px; font-size:13px; text-align:justify; }
.about h1 { margin:30px 0;  }
.about h4 { line-height:20px; margin-top:30px; font-size:18px; text-align:justify; }
.about h6 { line-height:20px; margin-top:30px; font-size:22px; text-align:justify; }




/**** PB ***/
.socialcode {
  margin:2em 0;
  padding:1em 0;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
}

.socialcode .span2, .socialcode .span3{
  min-height:0 !important;
}

header{
  height:inherit !important;
  margin-bottom:1em;
  background-color:#fefefe;
  padding-bottom:1em;
}

.brand h1{
  font-size:85px;
  text-align:center;
}
.brand h2{
  text-align:center;
}

.brand img{
  float:left;
  position:relative;
  left:180px;
}

.brand-enterprise img{
  float:left;
  position:relative;
  left:0px;
  text-align:center;
}

#strider-opensource h3{
  font-size:2em;
  margin-top:1em;
  margin-bottom:0.5em;
  color:#606060;  
  text-align:center;
}
#strider-opensource p{
  font-size:1.05em;
  line-height:1.4em;
}

#strider-enterprise h3{
  font-size:2em;
  margin-top:1em;
  margin-bottom:0.5em;
  color:#606060;  
  text-align:center;
}
#strider-enterprise p{
  font-size:1.05em;
  line-height:1.4em;
}

pre code{
  margin:1em 0;
  font-family:monaco, monospace;
  line-height:1.5em;
  padding:2em;
  border:3px dotted #dedede;
  display:block;
}

.buy-footer a { float:none; color:#efefef;}



/* Hosted Stuff */

.private-beta {
  color:#f99;
  font-size:90%;
}

.highlight-form {
  padding:20px;
  background-color:#fff;
  border: 5px solid #05b5fe;
  border-radius:10px;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.3);
  margin-bottom:50px;
}

.highlight-form h1{
  background-color: #05b5fe;
  color: #fff;
  text-align:center;
  padding:8px 10px 10px 10px;
  margin: -20px -20px 20px -20px;
}

.highlight-form h3{
  text-align:center;
  color: #aaa;
  margin:20px;
  font-size:15px;
}

.highlight-form .submit{
  margin:20px auto;
  display:block;
}

.highlight-form .reqd{
  color:#f55;
  font-size:15px;
  padding-left:2px;
  border:none;
}
.highlight-form .help-inline{
  font-weight:normal;
  font-size:80%;
  width:6em;
}

.highlight-form p{
  font-size:100%;
  padding-bottom:1em;
}

.highlight-form .small-print{
  font-size:70%;
  color:#bbb;
}

.highlight-form .payment-errors{
  color:#b94a48;
  display:block;
  text-align:center;
  padding:20px;
}


.thanks {
  text-align: center;
  font-size: 80px;
  font-style: italic;
  padding: 2em;
}

