!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= title
  %body
    - if (user)
      = "welcome back, "+user.username
      %a{href: "/logout"} logout
      %div{id: "content"}
      %noscript
        Please enable JavaScript
      %script{src: "js/react.min.js"}
      %script{src: "js/zepto.min.js"}
      %script{src: "js/bundle.js"}
      :javascript
        startReactApp({ mountNode: $('#content').get(0) })
    - else
      = "Welcome to "+title
      %br
      %a{href: "/login"} login
      %a{href: "/register"} register

